.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--bg-secondary);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 101;
}
.name {
  color: var(--text-primary);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.animate-slide-up {
  animation: slideUp 0.6s ease forwards;
}

.animate-slide-up-delay {
  animation: slideUp 0.6s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.animate-slide-up-delay-2 {
  animation: slideUp 0.6s ease forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.animate-slide-up-delay-3 {
  animation: slideUp 0.6s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.animate-fade-in {
  animation: fadeIn 0.6s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
p {
  color: var(--text-primary);
}
.developer {
  color: var(--accent-color);
  font-size: 26px;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  color: white;
}

.hero-image {
  width: 50%;
  max-width: 400px;
  margin-right: 30px;
  margin-left: -40px;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    width: 70%;
    margin: 0 auto 20px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 18px;
  }
}
