.about-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  background-color: var(--bg-secondary);
  padding: 20px 100px;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
}

.developer-image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.developer-image-container {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  width: 260px;
  height: 260px;
}

@media screen and (max-width: 1080px) {
  .developer-image-container {
    width: 170px;
    height: 170px;
  }
  .about-heading {
    font-size: 1.5rem;
  }
  .about-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .developer-image-container {
    width: 150px;
    height: 150px;
  }
}

.developer-image-about {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content-section {
  text-align: center;
  padding: 0 16px 16px 16px;
  margin-top: -10px;
}

.about-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 0;
}

.about-text {
  font-size: 1.125rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 16px;
}

.button-read-more {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button-read-more:hover {
  background-color: #0056b3;
}
